/* the basics */
* {
  margin: 0;
  padding: 0; 
}

img { display: block; border: 0; width: 100%; height:auto;}

body {
  background-color: white;
  font-family: "apolline", georgia, "times new roman", times, serif;
}

h1, h2, h3, h4,h5, h6 {
  font-family: "apolline", georgia, "times new roman", times, serif;
}

header[role="masthead"] {
  position: relative;
}

header[role="masthead"] h1 {
  font-style: italic;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 0.15em;
  margin-top: 0.25em;
  position: absolute;
  bottom: 10px;
  left: 46px;
}
  
header[role="masthead"] a {
  text-decoration: none;
  color: white;
}

header[role="masthead"] small {
  font-size: 20px;
  font-weight: 200;
  text-transform: uppercase;
  font-style: normal;
}

h2,
h3 {
  font-size: 26px;
  padding-bottom: 0.5em;
  font-weight: 700;
  font-style: italic;
}

ul {
  margin-bottom: 0.5em;
}

p,
li {
  /* text-align: justify;*/
  font-size: 18px;
  line-height: 1.4;
  color: #333333;
  list-style-type: none; 
  -webkit-hyphens: auto;
  hyphens: auto;
}

p {
  margin-bottom: 1em;
}

a {
  color: #333333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* typekit fonts */
.typekit-badge { display: none !important; }

/* the specifics */
/* posts lists */
/* category tag */
.category {
  font: 600 13px sans-serif;
  letter-spacing: 0.1em;
  padding: 0.5em 0 0.5em 0;
  text-transform: uppercase;
  display: block;
}

/* >> */
.more {
  color: #999999;
}

.date {
  color: #999999;
  /*text-transform: uppercase;*/
  font-size: 15px;
  margin-bottom: 0.8em;
 /* display: block;*/
}

.teaser { 
  margin-bottom: 2em; 
  padding:0; 
}

.content {
  margin: 0 3em;
}

.content {
  margin-top: 1.5em;
}

.main {
  position: relative;
}

/*.main aside {
  padding-top: 40px;
}*/

aside {
  color: white;
  /*background-color: #999999;*/
  padding: 5px 3em 20px 3em;
  /*text-transform: uppercase;*/
  /*border-bottom: 1px solid rgb(222, 222, 220);*/
  font-weight: 700;
  font-style: italic;
  width: 25%;
  position: absolute;
  top:0;
  max-width: 650px;
  border-bottom: none;
}

article {
  margin-top: 2em;
}

/* post specifics */

.prearticle {
  float:left;
  font-size: 18px;
}

.content {
  width: 60%;
  position: relative;
  left: 35%%;
  max-width: 650px;
}

/* posts */
.post {
  padding-bottom: 1em;
}

.post h1{
  padding-bottom: 0.5em;
  font-weight: 700;
  font-style: italic;
  font-size: 52px;
  padding-top: 1.2em;
}

/* footer navigation */
nav {
  padding: 20px 3em 20px 3em;
  background-color: #000;
  text-align: center;
}

nav li a {
  color: #fff;
}

nav li {
  display: inline;
  margin-right: 1em;
  text-transform: uppercase
}

/* some media queries */
@media (max-width: 1000px) {
  header[role="masthead"] h1 small {
    display: block;
  }
  
  .content,
  .posts article {
    border-bottom-color: rgb(222, 222, 220);
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

  aside {
    padding-top: 10px;
    width: auto;
    position: inherit;
  }

  .content {
    width: auto;
    position: inherit;
    margin-bottom: 2em;
    left: 0;
  }
}

@media (max-width: 500px) {
  header[role="masthead"] h1 {
  /*  font-size: 40px;*/

  }
  header[role="masthead"] h1 small {
    display: none;
  }
}



/*.teaser {
  color: rgb(51, 51, 50);
cursor: auto;
display: block;
font-family: ff-tisa-web-pro, Georgia, Cambria, 'Times New Roman', Times, serif;
font-size: 16px;
font-weight: normal;
height: 132px;
line-height: 22px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
margin-top: 0px;
visibility: visible;
width: 387px;
}

.category {
  color: rgb(179, 179, 177);
cursor: auto;
display: inline;
font-family: ff-tisa-web-pro, Georgia, Cambria, 'Times New Roman', Times, serif;
font-size: 16px;
font-weight: normal;
height: auto;
line-height: 19px;
text-decoration: none;
visibility: visible;
width: auto;
}*/
/*.container {
  margin: 0 auto;
  max-width: 700px; 
  position: relative;
  top: 0;
  background-color: rgba(255,255,255,0.8); /* opacity without affecting the children */
  padding: 1em;
}
*/


