---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/**
* Variables
*/

$base-font-family: 'Lato', Helvetica, Arial, sans-serif;
$heading-font-family: 'Rajdhani', Helvetica, Arial, sans-serif;
$accent-font-family: $base-font-family;
$base-font-size:   16px;
$base-line-height: 1.5;

$small-font-size:  $base-font-size * 0.875;
$medium-font-size: $base-font-size * 1.25;  // 24px;
$large-font-size:  $base-font-size * 2.5; // 40px;
$xlarge-font-size:  $base-font-size * 3.5625; // 57px;

$spacing-unit:     30px;

$text-color:       #262626;
$background-color: #fff;
$brand-color:      #fb2507;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$link-color-dark: #666;
$link-color-light: #333;

$on-palm:          600px;
$on-laptop:        900px;
$wrapper-width:    900px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin column($column-count, $column-gap) {
    -webkit-column-count: $column-count;
    -webkit-column-gap: $column-gap;
    -moz-column-count:$column-count;
    -moz-column-gap: $column-gap;
    -o-column-count:$column-count;
    -o-column-gap: $column-gap;
    column-count: $column-count;
    column-gap: $column-gap;
}

@mixin transition(){
    transition-property: all;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
    -moz-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
    -ms-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
    -o-transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
    transition-timing-function: cubic-bezier(0.165,0.630,0.140,0.820);
    // -webkit-font-smoothing: antialiased;
}

@mixin greyscale(){
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: gray;
    filter: grayscale(100%);
    filter: url(desaturate.svg#greyscale);
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "base",
    "layout",
    "styley"
;

body {
     // background: url("../img/annabel_01.png") no-repeat 50% 20px;
     //  background-size: 100%;
}
